body {
    background: #d2d2c1 url("images/fundo.png");
    font-weight: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
    margin: 0 auto;
    /* Centraliza o contêiner */
    border: 1px solid #ccc;

}

#menu {
    background-color: #c5c5b2;
    padding: 18px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
}

#conteudo {
    background-color: #e1e1d1;
    padding: 10px;
}

.centralize {
    text-align: center;
}

h1 {
    color: #80806e;
    font-size: 1.2em;
}

.italic {
    font-style: italic;
    font-size: 0.9em;
    background-color: #8686730f;
    padding: 10px;
    font-weight: bold;
}

.img-campanha {
    border-style: groove;
    border-color: rgb(197, 194, 169);
    border-width: 10px;
}